<% form_tag(:action => "edit_alert", :id => alert.id) do %>
	<div class="form_setting2">
		<table class="form_setting">
			<tr>
				<th>
					<label for="text">Descripcion</label>
				</th>
				<td colspan = 3>
					<%= text_area_tag :text, alert.text, :size => "40x3" %>
				</td>
			</tr>
			<tr>
				<th>
					<label for ="date">Fecha</label>
				</th>
				<td>
					<%= calendar_date_select_tag :date, alert.date, 
											{ 	:year_range => 0.years.ago..5.years.from_now, 
												:size => 10}
					%>
				</td>
				<th>
					<label for="frequency">Frecuencia</label>
				</th>
				<td>
					<%= select_tag :frequency, options_for_select(@frequencies) %>
				</td>
			</tr>
		</table>
		<p class="btns">
			<%= submit_tag "Guardar" %>
		</p>
	</div>
<% end %>
