<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', :action => 'list' %></li>
			<li><%= link_to 'Proyectos', :controller => 'projects', :action => 'index' %></li>
			<li><%= link_to 'Actividades', :controller => 'activities', :action => 'index' %></li>
			<% if User.find(session[:user_id]).has_role?('admin') %>
				<li><%= link_to 'Permisos', :controller => 'users', :action => 'permissions' %></li>
			<% end %>
	</ul>
<% end %>