<h3>Bienvenido <%= @user.long_name %></h3>

<div class="pending_week">
	<h2>Semanas pendientes de validación</h2>
	
	<%if @tasks_not_validated.blank? %>
		No hay semanas pendientes de validacion
	<% else %> 
		<ul>
		<% for x in @tasks_not_validated %>
			<li>
				<%= link_to x.strftime("%d de %B de %Y"), {:action => :edit_tasks, :id1 => x.to_date} %>
			</li>													
		<% end %>
		</ul>
	<% end %>
</div>
