<% if @projects.empty? %>
	
	<h2>No existe ningun proyecto.</h2>

<% else %>
	<ul class="users_list">
		<% for project in @projects %>
		   		<li>
		   			<label>
			   			<%= link_to project.name, project_path(project) %>
			   			<br/>
			   			<span class="help"><%= project.description %></span>
			   		</label>
			   		<div class="user_name">
			    		<%= project.user.name %>
			    	</div>
		   		</li>
	    <% end %>
	</ul>
	<%= will_paginate @projects %>
<% end %>
