<% if @activities.empty? %>
 	
	<h2>No existe ninguna actividad.</h2>

<% else %>
	<ul class="users_list">
		<% for act in @activities %>
			<li>
				<label>
					<%= link_to act.name, activity_path(act) %>
					<br/>
					<span class="help"><%= act.description %></span>
				</label>
				<div class="user_name">
					<%=act.project.name %>
				</div>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @activities %>
<% end %>
