<div class="top">
	<h3><%= @activity.name %></h3>
</div>

<div class="course-form">
	<table class="form_setting">
		<tr>
			<th>
				<label>Nombre</label>
			</th> 
			<td>
				<%= @activity.name %>
			</td> 
		</tr>
		<tr>
			<th>
				<label>Descripción</label>
			<td>
				<%= @activity.description %>
			</td>
		</tr>
		<tr>
			<th>
				<label>Proyecto</label>
			</th>
			<td>
				<%= link_to @activity.project.name, project_path(@activity.project) %>
			</td>
		</tr>
	</table>
</div>