<% content_for (:activity_nav) do %>
	<ul>
			<li><%= link_to 'Usuarios', :controller => 'admin/users', :action => 'index' %></li>
			<li><%= link_to 'Proyectos', :controller => 'admin/projects', :action => 'index' %></li>
			<li><%= link_to 'Actividades', :controller => 'admin/activities', :action => 'index' %></li>
	</ul>
<% end %>